
	.st0{opacity:0.1;fill:#3749BB;}
	.st1{fill:#3749BB;}
	.st2{fill:#FFFFFF;}
	.st3{fill:#212032;}
	.st4{fill:#CCCCCC;}
	.st5{fill:#999999;}
	.st6{opacity:0.4;fill:#212032;}
	.st7{fill:none;stroke:#3749BB;stroke-width:1.9967;stroke-miterlimit:10;}
	.st8{fill:none;stroke:#FFFFFF;stroke-width:1.1522;stroke-miterlimit:10;}
